:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

table.datatables {
    table-layout: fixed !important;
    border-collapse: collapse !important;
    transition: transform 2s ease-in-out;
    text-align: left;
    white-space: nowrap;
}

